/* header */

.header {
	display: flex;
	flex-direction: column;
	position: fixed;
	align-items: center;
	height: 100vh;
	width: 145px;
	padding: 35px 0 100px;
	box-shadow: 3px 0 5px 0 rgba(0, 0, 0, .2);
	background-color: $white;
	z-index: 5;

	@include media('<=desktop_lg') {
		width: 120px;
		padding: 28px 0 80px;
	}

	@include media('<=desktop') {
		width: 87px;
		padding: 20px 0 60px;
	}

	@include media('<=tablet') {
		flex-direction: row;
		height: 100px;
		width: 100vw;
		padding: 0;
	}

	&__logo {
		width: 42px;
		margin-bottom: 150px;

		@include media('<=desktop_lg') {
			width: 35px;
			margin-bottom: 124px;
		}

		@include media('<=desktop') {
			width: 25px;
			margin-bottom: 90px;
		}

		@include media('<=tablet') {
			margin: 0 0 0 15px;
			width: 35px;
		}

		img {
			display: block;
			width: 100%;
		}
	}

	&__nav-list {
		display: flex;
		flex-direction: column;
		text-align: center;
		height: calc(100vh - 320px);

		@include media('<=desktop_lg') {
			height: calc(100vh - 260px);
		}

		@include media('<=desktop') {
			height: calc(100vh - 190px);
		}

		@include media('<=tablet') {
			flex-direction: row;
			height: 100%;
			margin-left: 30px;
			margin-top: 10px;
		}
	}

	li {
		width: 100%;
		margin-bottom: 75px;

		@include media('<=desktop_lg') {
			margin-bottom: 60px;
		}

		@include media('<=desktop') {
			margin-bottom: 45px;
		}

		@include media('<=tablet') {
			margin-bottom: 0;
			margin-right: 30px;
		}

		@include media('<=phone-xs'){
			margin-bottom: 0;
			margin-right: 20px;
		}

		a:hover svg path {
			fill: $blue;
		}

		svg {
			width: 32px;
			height: 32px;

			@include media('<=desktop_lg') {
				width: 28px;
				height: 28px;
			}

			@include media('<=desktop') {
				width: 18px;
				height: 18px;
			}

			@include media('<=tablet') {
				width: 23px;
				height: 23px;
			}

			path {
				fill: $gray;
				transition: .3s;
			}
		}
	}

	li:last-of-type {
		margin-top: auto;
		margin-bottom: 0;

		@include media('<=tablet') {
			margin-bottom: 0;
			margin-right: 0;
		}
	}
}

